{% extends "main.html" %}

{% block header %}
<title>About Us</title>
{% end %}
{% block body %}
<h1>We are <b>Subai Games</b></h1>
<div class="infoBox">
<h2>Founders</h2>
<p>Andrew <u>Su</u>gaya and Marcell Ba<u>bai</u> are totally awesome.
They were born awesome, grew up awesome, and will continue to be
awesome pretty much forever.</p>
<h2>Mission</h2>
<p><b>Subai Games</b> is a computer game company. Simply put, it is 
our mission to make games that matter.</p>
<h2>About you</h2>
<p>You should probably be playing now.</p>
<h2>Contact us</h2>
<p>Please provide any feedback you may have. Send us your questions, comments, and constructive criticism. Anything that will make the playing experience better for you!</p>
<p>E-mail us at: <a href="mailto:SubaiSoft@gmail.com">SubaiSoft@gmail.com</a></p>
</div>
<br><br><br><br>
{% end %}
