{% extends "main.html" %}

{% block header %}
<title>How to Play</title>
{% end %}
{% block body %}
<h1>How to Play</h1>
<div class="infoBox">
<h2>Concept</h2>
<p><b>Yomi JiuJitsu</b> is a game of skill, trickery, and finesse. The key to success is to outwit your opponent. When she believes you will be strong, you must be weak. And when she believes you to be weak, you must be only slightly stronger.</p>

<h2>Objective</h2>
<p>The goal of <b>PJJ</b> is to defeat your opponent while keeping at least 1 heart. In other words; it is win 2 of the 3 rounds of the game.</p>

<h2>Set Up</h2>
<p>Both players begin with 100 <b>"Energy"</b> points (the tanks on the sides.) at the beginning of <b>Round 1</b> as well as two <b>hearts</b> (above your avatar).</p>

<h2>Play</h2>
<p>The game is played in two phases: <b>Round 1</b>, followed by <b>Rounds 2</b> and (possibly) <b>3</b>. In every round, each player chooses to "spend" any number of her <b>Energy</b> points to use for that round. However, once used, those points will no longer be available in subsequent rounds. The energy is used to charge an <b>Energy Blast</b> at your opponent. When Energy Blasts collide, the smaller one is destroyed and the larger one keeps going. If a player is hit by an Energy Blast (no matter the size), she loses one heart.</p>
<p>After the first round has ended (which is all of phase 1), players move to phase two: the beginning of round 2. Again players choose how much of their remaining <b>Energy</b> to spend. Once round 2 is complete, if both players remain standing, a 3rd "sudden death" round is played. The player who has more remaining <b>Energy</b> points gets to automatically use the <b>Energy Blade</b> and win the match!</p>

<h2>Victory</h2>
<p>By the end of phase 2, there must either be a victor or the game is a draw. A draw occurs if in any one of the rounds both players spend the same amount of <b>Energy</b>.</p>

<h2>Strategy</h2>
<p><b>Yomi JiuJitsu</b>, while it may have simple rules, is not a simple game like tic-tac-toe. Although basic strategy can be taught, the best players need to use more subtle psychological tactics to try to guess what their opponents are going to play. However, there are some starting points to go over:</p>

<h3>Spend Energy Wisely</h3>
<p>You only have 100 Energy points over 3 rounds, be careful not to spend it all at the beginning. A big victory in one round is surely to be followed by defeat in later rounds. The size of the victory in any one round does not matter.</p>
<h3>Learn to Love Loss</h3>
<p>The converse of the first lesson about big victoriesff is to use this against your opponents! If you fear that they might spend a lot in a round, don't be afraid to spend zero. Sacrificing one round can often lead to an easy route in the other rounds.</p>
<h3>Try to be Random</h3>
<p>This one is easier said than done - it has been shown time and time again that human beings are not good at being random. However, that said, if your strategy is too predictable, your opponents will catch on, no matter how clever of a strategy it may seem to be!</p>
<h3>Don't play OmniBot</h3>
<p>He will beat you. Really, he will.<p>
</div>
<br><br><br><br>
{% end %}
