{% extends "main.html" %}

{% block header %}
<title>Sign Up</title>
{% end %}
{% block body %}
<h1>Sign up for a Subai account!</h1>
<h3 class="errorMessage">{{ error }}</h3>
<form action ="/auth/signup" method="POST">
	{% raw xsrf_form_html() %}
	<p>Username:<input type="text" name="newUsername"/></p>
	<p>Password:<input type="password" name="pass1"/></p>
	<p>Retype Password:<input type="password" name="pass2"/></p>
	<input class="button" type="submit" value = "Create Account"/>
</form-->

<h3>Already have a Subai Account?</h3>	
<a class="button" href="/auth/login">Log in</a>
{% end %}
